<!--
  ~ Copyright (c) 2022 by Maximilian Kroboth.
  ~
  ~ This file is part of Cactis CMC.
  ~
  ~ Cactis CMC is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~  by the Free Software Foundation,  version 3 of the License.
  ~
  ~ Cactis CMC is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY;  without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along
  ~  with Cactis CMC. If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="eu.cactis.cmc.cmc">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <queries>
        <!-- If your app opens https URLs -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
